services:
  app:
    build: .
    image: intern-nginx
    container_name: app-container
    env_file:
      - .env
    networks:
      - app-network

  proxy:
    image: nginx:alpine
    container_name: nginx-proxy
    ports:
      - "${HOST_PORT}:80"
    volumes:
      - ./proxy.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app
    restart: always
    env_file:
      - .env
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
