services:
  app:
    build: .
    image: intern-nginx
    container_name: app-container
    env_file:
      - .env
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost"]
      interval: 10s
      timeout: 3s
      retries: 3
    restart: always
    networks:
      - app-network

  proxy:
    image: nginx:alpine
    container_name: nginx-proxy
    ports:
      - "${HOST_PORT}:${NGINX_PORT}"
    volumes:
      - ./nginx-proxy.conf.template:/etc/nginx/templates/default.conf.template
    environment:
      - APP_PORT=${APP_PORT}
      - NGINX_PORT=${NGINX_PORT}
    depends_on:
      - app
    restart: always
    env_file:
      - .env
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
