name: CI Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Docker image
        run: |
          docker build -t intern-nginx-ci .

      - name: Run container for testing
        run: |
          docker run -d -p 8080:80 --name ci-test intern-nginx-ci
          sleep 5

      - name: Health check
        run: |
          curl -f http://localhost:8080

      - name: Cleanup
        if: always()
        run: |
          docker stop ci-test || true
          docker rm ci-test || true

